// set the base colors
/* add the color palette */
/* 1B4A23 */
/* FFC090 */
/* FFFFFF */
/* 19912D */
/* F7F7F7 */
/* F9F9F9 */
/* 000000 */
$color-primary: #b4dcb0;
$color-secondary: #8dca89;
$color-white: #ffffff;
$color-green: #8dca89;
$color-light: #b4dcb0;
$color-lighter: #daeed7;
$color-black: #000000;

// Set a base for the centering using flex
%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Set the base for putting a div at the end
%flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

// Set the base for putting a div at the start
%flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

// Set the base for putting a div at the space between
%flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// Set the base for putting a div at the space around
%flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

// Set the width of 100% for the div
%full-width {
  width: 100%;
}

// Set the height of 100% for the div
%full-height {
  height: 100%;
}

// Set the base for the flex column
%flex-column {
  display: flex;
  flex-direction: column;
}

// Set the base for the flex row
%flex-row {
  display: flex;
  flex-direction: row;
}

// set the base for fixed position
%fixed {
  position: fixed;
}

// set the base for absolute position
%absolute {
  position: absolute;
}

// set the base for relative position
%relative {
  position: relative;
}

// set the base for the z-index
%z-index {
  z-index: 100;
}

// set the base for the top
%top {
  top: 0;
}

// set the base for the bottom
%bottom {
  bottom: 0;
}

// set the base for the left
%left {
  left: 0;
}

// set the base for the right
%right {
  right: 0;
}

// set a base padding
%padding {
  padding: 1rem;
}

// set a zero margin
%no-margin {
  margin: 0;
}

// set a zero padding
%no-padding {
  padding: 0;
}

// set a base margin
%margin {
  margin: 1rem;
}

// set a base border
%border {
  border: 1px solid $color-light;
}

// set the base for the button div
%button {
  text-align: center;
  border: none;
  background: $color-secondary;
  color: $color-black;
  padding: 1rem 2rem;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  transition: all 0.3s ease;
  padding: 0.5rem 0.5rem;
  margin-right: 0.8%;
  &:hover {
    background: $color-lighter;
  }
}

// set the base for the input
%input {
  border: 1px solid $color-light;
  padding: 1rem;
  border-radius: 5px;
  width: 100%;
  font-size: 1rem;
  background-color: $color-lighter;
}

// set the base padding for the sections
%section-padding {
  padding: 5% 0 5% 0;
}

// set the base for the form
%form {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

body {
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  color: $color-lighter;
  background-color: $color-black;
  @extend %no-margin;
  @extend %no-padding;
}

body:has(.toggle:checked) {
  background-color: $color-lighter;
  color: $color-black;
}

h3 {
  @extend %no-margin;
  @extend %no-padding;
}
.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer {
  background: $color-black;
  color: $color-lighter;
  display: flex;
  justify-content: center;
  @extend %full-width;
  @extend %bottom;
  border-top: 2px solid $color-secondary;
  font-size: 1.5rem;
  height: 7.5dvh;
}

body:has(.toggle:checked) footer {
  background: $color-lighter;
  color: $color-black;
}

.footer {
  @extend %full-width;
  @extend %flex-around;
}

.footer-divider {
  border-right: 3px solid $color-lighter;
  height: 50%;
}

body:has(.toggle:checked) .footer-divider {
  border-right: 3px solid $color-black;
}

footer a {
  align-items: center;
  @extend %full-height;
  padding: 0 1rem;
}

.footer-nav {
  @extend %flex-center;
  @extend %full-height;
}

/* Responsive design for the footer */
@media (max-width: 768px) {
  footer {
    font-size: 1rem;
  }
}

/* Header */
header {
  background: $color-black;
  position: fixed;
  color: $color-lighter;
  @extend %full-width;
  height: 7.5dvh;
  @extend %top;
  z-index: 100;
}

body:has(.toggle:checked) header {
  background: $color-lighter;
  color: $color-black;
}

.nav-bar {
  @extend %flex-between;
  @extend %full-width;
  @extend %top;
}

.nav-bar .resume-button {
  @extend %full-width;
  @extend %flex-end;
}

.toggle {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 62px;
  height: 32px;
  display: inline-block;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #707070;
  transition: background-color ease 0.3s;
}

.toggle:before {
  content: "☀️ 🌙";
  display: block;
  position: absolute;
  z-index: 2;
  width: 28px;
  height: 28px;
  background: #fff;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  font: 10px/28px Helvetica;
  text-transform: uppercase;
  font-weight: bold;
  text-indent: -22px;
  word-spacing: 37px;
  color: #fff;
  text-shadow: -1px -1px rgba(0, 0, 0, 0.15);
  white-space: nowrap;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
}

.toggle:checked {
  background-color: $color-green;
}

.toggle:checked:before {
  left: 32px;
}

.resume-button a {
  @extend %button;
}

a {
  color: $color-lighter;
  text-decoration: none;
}

a:hover {
  color: $color-lighter;
}

body:has(.toggle:checked) a {
  color: $color-black;
}

.menu-list {
  @extend %flex-center;
  @extend %full-width;
}

.menu {
  @extend %flex-start;
  @extend %full-width;
}

.menu ul {
  list-style: none;
  @extend %flex-around;
  @extend %full-width;
}

.menu a {
  padding: 0.7rem;
}

.menu a:hover {
  color: $color-lighter;
}

.logo img {
  width: 25px;
  height: 25px;
  margin: 0 1em;
}
.menu-toggle {
  display: none;
}

// responsive design menu for mobile with a hamburger icon
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
    padding: 1rem;
  }

  .menu-toggle .toggle-icon {
    display: none;
  }

  .menu-toggle {
    color: $color-lighter;
    font-size: 1.5rem;
  }

  body:has(.toggle:checked) .menu-toggle {
    color: $color-black;
  }

  body:has(.toggle-icon:checked) .menu-toggle {
    color: $color-green;
  }

  // display flex for the menu list if the toggle is checked
  body:has(.toggle-icon:checked) .menu-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: $color-black;
    position: absolute;
    top: 7.5vh;
    z-index: 100;
    // add the box-shadow only at the bottom of the div
    box-shadow: 0 2px $color-green;
  }

  body:has(.toggle:checked) .menu-list {
    background-color: $color-lighter;
  }

  .menu-list {
    display: none;
  }

  .menu {
    display: flex;
    justify-content: center;
  }

  .menu ul li {
    align-self: baseline;
    text-align: center;
    justify-content: center;
    width: 100%;
  }

  .menu ul li a {
    text-align: center;
    font-size: 1.5rem;
  }

  .menu ul li a:hover {
    color: $color-lighter;
  }

  .menu ul li a:active {
    color: $color-lighter;
  }

  .menu ul li a:focus {
    color: $color-lighter;
  }

  .menu ul {
    display: flex;
    padding-inline-start: 0%;
    flex-direction: column;
    width: 100%;
  }

  .nav-bar .resume-button {
    display: flex;
    justify-content: center;
    padding: 1rem;
    width: 100dvw;
  }
}

/* Sections */
section {
  @extend %section-padding;
}

/* Hero */
.hero {
  padding: 5% 5% 0 5%;
}

.hero h1 {
  font-size: 4rem;
  @extend %no-margin;
  @extend %no-padding;
}

.hero h2 {
  @extend %no-margin;
  @extend %no-padding;
  font-size: 2rem;
  font-style: italic;
  font-weight: normal;
}

.hero .follow-me-text {
  font-weight: bold;
  font-size: 1.5rem;
}

.hero .social-icons {
  font-size: 2rem;
}
.hero .social-icons a {
  margin: 0 0.2rem;
}

/* Responsive design for the hero section */
@media (max-width: 768px) {
  .hero {
    padding-top: 10%;
  }
  .hero h1 {
    font-size: 3rem;
  }

  .hero h2 {
    font-size: 1.5rem;
  }

  .hero .follow-me-text {
    font-size: 1rem;
  }

  .hero .social-icons {
    font-size: 1.5rem;
    padding-bottom: 10%;
  }
}

/* Line */
.line {
  border-top: 2px solid $color-light;
  @extend %full-width;
}

body:has(.toggle:checked) .line {
  border-top: 2px solid $color-black;
}

/* Skills */
#Skills {
  @extend %full-width;
  @extend %full-height;
  @extend %no-margin;
  @extend %no-padding;
}
// make the skill-container be scrollable horizontally
.skills {
  @extend %full-width;
  @extend %flex-column;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: $color-secondary;
  overflow: hidden;
}

.skills h2 {
  color: $color-black;
  @extend %flex-start;
  align-content: flex-start;
  font-size: 2rem;
  padding: 0.5rem 0rem 0rem 1rem;
  margin: 0;
}

.skills-container {
  @extend %flex-around;
  @extend %no-margin;
  @extend %no-padding;
  position: relative;
  animation: scrollSkills 15s linear infinite;
}

.skills-container:hover {
  animation-play-state: paused;
}

.skills-container .skills-item {
  min-width: 15%;
  font-size: 5rem;
  color: $color-black;
  text-align: center;
  @extend %no-margin;
  @extend %no-padding;
}

@keyframes scrollSkills {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-3%);
  }
}

/* Responsive design for the skills section */
@media (max-width: 768px) {
  .skills h2 {
    font-size: 1.5rem;
  }

  .skills-container {
    animation: scrollSkillsMobile 15s linear infinite;
  }

  .skills-container .skills-item {
    font-size: 4rem;
    min-width: 30%;
  }
}

@keyframes scrollSkillsMobile {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* About */
#About {
  @extend %full-width;
  @extend %full-height;
}

.about {
  @extend %flex-around;
  @extend %full-width;
  @extend %full-height;
}

.about-image {
  @extend %flex-center;
  // make a round image
  border-radius: 50%;
  overflow: hidden;
  width: 30%;
  height: 30%;
}

.about-image img {
  @extend %full-width;
  @extend %full-height;
}

.content {
  padding: 1rem;
  width: 50%;
  font-size: 1.2rem;
}
.content-title {
  // make it in an rounded circle all around the text, like a button
  // make the form smooth as a circle
  border-radius: 50px;

  background-color: $color-secondary;
  padding: 0.7rem 1.7rem 0.7rem 1.7rem;
  color: $color-primary;
  // the width should be the same of the text
  display: inline-block;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: $color-black;
  margin: 0;
}

/* Responsive design for the about section */
@media (max-width: 768px) {
  .about {
    flex-direction: column-reverse;
  }
  .about-image {
    width: 60%;
    height: 40%;
  }

  .about .content {
    text-align: end;
    width: 80%;
  }
}

/* Work */
#Work {
  @extend %full-width;
  background-color: $color-green;
  color: $color-black;
}
.work {
  @extend %flex-around;
  @extend %full-width;
}

.work .content .content-title {
  background-color: $color-light;
  color: $color-black;
}

.work-image {
  @extend %flex-center;
  width: 30%;
  height: 30%;
  border-radius: 8%;
  overflow: hidden;
}

.work-image img {
  @extend %full-width;
  @extend %full-height;
}

/* Responsive design for the work section */
@media (max-width: 768px) {
  .work {
    flex-direction: column;
  }
  .work-image {
    width: 60%;
    height: 40%;
  }

  .work .content {
    width: 80%;
  }
}

/* Projects */
#Projects {
  @extend %full-width;
  @extend %full-height;
}

.projects {
  @extend %flex-around;
  @extend %full-width;
  @extend %full-height;
}

.projects-image {
  @extend %flex-center;
  // make a round image
  border-radius: 50%;
  overflow: hidden;
  width: 30%;
  height: 30%;
}

.projects-image img {
  @extend %full-width;
  @extend %full-height;
}

/* Responsive design for the projects section */
@media (max-width: 768px) {
  .projects {
    flex-direction: column-reverse;
  }
  .projects-image {
    width: 60%;
    height: 40%;
  }

  .projects .content {
    text-align: end;
    width: 80%;
  }
}

/* Contact */
#Contact {
  @extend %flex-around;
  @extend %full-width;
  background-color: $color-secondary;
  color: $color-black;
}

.contact {
  width: 50%;
  @extend %flex-column;
}

.contact-form input {
  @extend %input;
  margin-bottom: 1rem;
}

.contact-form textarea {
  @extend %input;
  height: 10rem;
  margin-bottom: 1rem;
}

.contact-form button {
  @extend %button;
  background-color: $color-light;
  width: 50%;
}

.contact-form button:hover {
  background: $color-lighter;
}

.contact-image {
  @extend %flex-center;
  width: 40%;
  height: 40%;
  border-radius: 8%;
  overflow: hidden;
}

.contact-image img {
  @extend %full-width;
  @extend %full-height;
}

/* Responsive design for the contact section */
@media (max-width: 768px) {
  .contact {
    width: 70%;
  }
  .contact-image {
    display: none;
  }
}

/* Projects Description */
#ProjectsDescription {
  padding: 8vh 0 0% 0;
  @extend %full-width;
  @extend %flex-start;
  @extend %full-height;
}

.projects-description {
  @extend %full-width;
  padding: 0 5%;
  font-size: 1.2rem;
}

.projects-description h1 {
  @extend %no-margin;
}

.projects-description p {
  @extend %no-margin;
}

/* Projects List */
#ProjectsList {
  padding: 0% 2dvh 0% 2dvh;
}

.project-cards {
  @extend %flex-around;
  @extend %full-width;
  flex-wrap: wrap;
  overflow: scroll;
  overflow-x: hidden;
  height: 63vh;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.project-card {
  // make a card 20% of the width
  width: 28%;
  // make a card with a background color
  background-color: $color-green;
  color: $color-black;
  // make a border around the card
  border-radius: 15px;
  // make a margin around the card
  padding: 1%;
  margin: 1%;
  // make a shadow around the card
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  // make the card to be a flex column
  @extend %flex-column;
  // make the card to be a flex center
  @extend %flex-center;
  // make the card to be a full width
  @extend %full-width;
}

.project-image {
  @extend %full-width;
  padding: 0.5rem 0.5rem 0rem 0.5rem;
}

.project-image img {
  @extend %full-width;
  border-radius: 8%;
}

.project-card h2 {
  @extend %no-margin;
  @extend %no-padding;
  font-size: 1.5rem;
  padding: 0.5rem;
}

.project-card p {
  @extend %no-margin;
  @extend %no-padding;
  padding: 0.5rem;
}

.project-links {
  @extend %flex-around;
  @extend %full-width;
}

.project-links a {
  color: $color-black;
  padding: 0.5rem;
  font-size: 2rem;
  border-radius: 20%;
  background-color: $color-light;
  transition: all 0.3s ease;

  &:hover {
    background: $color-lighter;
  }
}

p a {
  color: $color-lighter;
}

/* Responsive design for the projects list section */
@media (max-width: 768px) {
  .project-card {
    width: 80%;
  }
}
