/* add the color palette */
/* 1B4A23 */
/* FFC090 */
/* FFFFFF */
/* 19912D */
/* F7F7F7 */
/* F9F9F9 */
/* 000000 */
.work-image, .about-image, .hero .social-icons, .hero, .nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bar .resume-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.skills h2, .menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.work, .about, .skills-container, .menu ul, .footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.work-image img, .work, #Work, .about-image img, .about, #About, .skills, #Skills, .line, .hero, .menu ul, .menu, .nav-bar .resume-button, .nav-bar, header, footer {
  width: 100%;
}

.work-image img, .about-image img, .about, #About, #Skills, .footer-divider {
  height: 100%;
}

.skills {
  display: flex;
  flex-direction: column;
}

.nav-bar, header {
  top: 0;
}

footer {
  bottom: 0;
}

.skills-container, #Skills, .hero h2, .hero h1, h3 {
  margin: 0;
}

.skills-container, #Skills, .hero h2, .hero h1, h3 {
  padding: 0;
}

.resume-button a {
  border: none;
  background: #1b4a23;
  color: #ffffff;
  padding: 1rem 2rem;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  transition: all 0.3s ease;
  padding: 0.5rem 0.5rem;
  margin-right: 0.8%;
}
.resume-button a:hover {
  background: #19912d;
}

section {
  padding: 5% 0 5% 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #000000;
  background: #f7f7f7;
  margin: 0;
  padding: 0;
}

footer {
  background: #1b4a23;
  color: #ffffff;
  padding: 0.5% 0 0 0;
  border-top: 2px solid #ffc090;
}

.footer-divider {
  border-right: 3px solid #ffc090;
}

footer a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
  padding: 0 1rem;
}

/* Header */
header {
  background: #ffc090;
  color: #ffffff;
}

.nav-bar {
  color: #ffffff;
}

a {
  color: #1b4a23;
  text-decoration: none;
}

.menu ul {
  list-style: none;
}

.menu a:hover {
  color: #19912d;
}

.logo img {
  width: 25px;
  height: 25px;
  margin: 0 1em;
}

.menu-toggle {
  display: none;
}

/* Sections */
/* Hero */
.hero {
  color: #000000;
  text-align: center;
}

.hero h1 {
  font-size: 4rem;
}

.hero h2 {
  font-size: 2rem;
  font-style: italic;
  font-weight: normal;
}

.hero .follow-me-text {
  font-weight: bold;
  font-size: 1.5rem;
}

.hero .social-icons {
  font-size: 2rem;
}

.hero .social-icons a {
  margin: 0 0.2rem;
}

/* Line */
.line {
  border-top: 2px solid #1b4a23;
}

/* Skills */
#Skills {
  background-color: #f9f9f9;
}

.skills {
  margin-top: 2%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: #ffc090;
}

.skills h2 {
  color: #1b4a23;
  align-content: flex-start;
  font-size: 2rem;
  padding: 0.2rem;
  margin: 0;
}

.skills-container {
  overflow: hidden;
  position: relative;
}

.skills-container .skills-item {
  min-width: 20%;
  font-size: 2rem;
  color: #1b4a23;
  text-align: center;
  animation: scrollSkills 15s linear infinite;
}

@keyframes scrollSkills {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}
/* About */
.about-image {
  border-radius: 50%;
  overflow: hidden;
  width: 30%;
  height: 30%;
}

.content {
  padding: 1rem;
  width: 50%;
  font-size: 1.2rem;
}

.content-title {
  border-radius: 45%;
  background-color: #ffc090;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  color: #1b4a23;
  display: inline-block;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #1b4a23;
  margin: 0;
}

/* Work */
#Work {
  background-color: #19912d;
}

.work-image {
  width: 30%;
  height: 30%;
  border-radius: 8%;
  overflow: hidden;
}

/*# sourceMappingURL=stylesheet.css.map */
