@charset "UTF-8";
/* add the color palette */
/* 1B4A23 */
/* FFC090 */
/* FFFFFF */
/* 19912D */
/* F7F7F7 */
/* F9F9F9 */
/* 000000 */
.project-card, .contact-image, .projects-image, .work-image, .about-image, .menu-list, .footer-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bar .resume-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#ProjectsDescription, .skills h2, .menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-cards, #Contact, .projects, .work, .about, .skills-container, .menu ul, .footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.projects-card img, .project-card, .project-cards, .projects-description, #ProjectsDescription, .contact-image img, #Contact, .projects-image img, .projects, #Projects, .work-image img, .work, #Work, .about-image img, .about, #About, .skills, #Skills, .line, .menu ul, .menu, .menu-list, .nav-bar .resume-button, .nav-bar, header, .footer, footer {
  width: 100%;
}

.projects-card img, #ProjectsDescription, .contact-image img, .projects-image img, .projects, #Projects, .work-image img, .about-image img, .about, #About, #Skills, .footer-nav, footer a, .footer-divider {
  height: 100%;
}

.project-card, .contact, .skills {
  display: flex;
  flex-direction: column;
}

.nav-bar, header {
  top: 0;
}

footer {
  bottom: 0;
}

.projects-card p, .projects-card h2, .projects-description p, .projects-description h1, .skills-container .skills-item, .skills-container, #Skills, .hero h2, .hero h1, h3, body {
  margin: 0;
}

.projects-card p, .projects-card h2, .skills-container .skills-item, .skills-container, #Skills, .hero h2, .hero h1, h3, body {
  padding: 0;
}

.contact-form button, .resume-button a {
  text-align: center;
  border: none;
  background: #8dca89;
  color: #000000;
  padding: 1rem 2rem;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  transition: all 0.3s ease;
  padding: 0.5rem 0.5rem;
  margin-right: 0.8%;
}
.contact-form button:hover, .resume-button a:hover {
  background: #daeed7;
}

.contact-form textarea, .contact-form input {
  border: 1px solid #b4dcb0;
  padding: 1rem;
  border-radius: 5px;
  width: 100%;
  font-size: 1rem;
  background-color: #daeed7;
}

section {
  padding: 5% 0 5% 0;
}

body {
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
  background-color: #000000;
}

body:has(.toggle:checked) {
  background-color: #daeed7;
  color: #000000;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer {
  background: #daeed7;
  color: #000000;
  display: flex;
  justify-content: center;
  border-top: 2px solid #8dca89;
  font-size: 1.5rem;
  height: 7.5dvh;
}

.footer-divider {
  border-right: 3px solid #000000;
}

footer a {
  color: #000000;
  align-items: center;
  padding: 0 1rem;
}

/* Responsive design for the footer */
@media (max-width: 768px) {
  footer {
    font-size: 1rem;
  }
}
/* Header */
header {
  background: #daeed7;
  position: fixed;
  color: #000000;
  height: 7.5dvh;
  z-index: 100;
}

.nav-bar {
  color: #000000;
}

.toggle {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 62px;
  height: 32px;
  display: inline-block;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #707070;
  transition: background-color ease 0.3s;
}

.toggle:before {
  content: "☀️ 🌙";
  display: block;
  position: absolute;
  z-index: 2;
  width: 28px;
  height: 28px;
  background: #fff;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  font: 10px/28px Helvetica;
  text-transform: uppercase;
  font-weight: bold;
  text-indent: -22px;
  word-spacing: 37px;
  color: #fff;
  text-shadow: -1px -1px rgba(0, 0, 0, 0.15);
  white-space: nowrap;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
}

.toggle:checked {
  background-color: #4cd964;
}

.toggle:checked:before {
  left: 32px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #daeed7;
}

body:has(.toggle:checked) a {
  color: #000000;
}

.menu ul {
  list-style: none;
}

.menu a {
  padding: 0.7rem;
  color: #000000;
}

.menu a:hover {
  color: #daeed7;
}

.logo img {
  width: 25px;
  height: 25px;
  margin: 0 1em;
}

.menu-toggle {
  display: none;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
    padding: 1rem;
  }
  .menu-toggle .toggle-icon {
    display: none;
  }
  .menu-toggle {
    color: #000000;
    font-size: 1.5rem;
  }
  body:has(.toggle-icon:checked) .menu-toggle {
    color: #ffffff;
  }
  body:has(.toggle-icon:checked) .menu-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100dvw;
    background: #b4dcb0;
    position: absolute;
    top: 7.5dvh;
    left: 0;
    right: 0;
    z-index: 100;
    text-align: center;
  }
  .menu-list {
    display: none;
    justify-content: center;
    flex-direction: column;
    width: 100dvw;
    background: #b4dcb0;
    position: absolute;
    top: 7.5dvh;
    left: 0;
    right: 0;
    z-index: 100;
    text-align: center;
  }
  .menu {
    display: flex;
    justify-content: center;
  }
  .menu ul li {
    text-align: center;
    width: 100%;
  }
  .menu ul li a {
    font-size: 1.5rem;
    color: #000000;
  }
  .menu ul li a:hover {
    color: #daeed7;
  }
  .menu ul li a:active {
    color: #ffffff;
  }
  .menu ul li a:focus {
    color: #ffffff;
  }
  .menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100dvw;
  }
  .nav-bar .resume-button {
    display: flex;
    justify-content: center;
    padding: 1rem;
    width: 100dvw;
  }
}
/* Sections */
/* Hero */
.hero {
  padding: 5% 5% 0 5%;
}

.hero h1 {
  font-size: 4rem;
}

.hero h2 {
  font-size: 2rem;
  font-style: italic;
  font-weight: normal;
}

.hero .follow-me-text {
  font-weight: bold;
  font-size: 1.5rem;
}

.hero .social-icons {
  font-size: 2rem;
}

.hero .social-icons a {
  margin: 0 0.2rem;
}

/* Responsive design for the hero section */
@media (max-width: 768px) {
  .hero {
    padding-top: 10%;
  }
  .hero h1 {
    font-size: 3rem;
  }
  .hero h2 {
    font-size: 1.5rem;
  }
  .hero .follow-me-text {
    font-size: 1rem;
  }
  .hero .social-icons {
    font-size: 1.5rem;
    padding-bottom: 10%;
  }
}
/* Line */
.line {
  border-top: 2px solid #b4dcb0;
}

body:has(.toggle:checked) .line {
  border-top: 2px solid #000000;
}

/* Skills */
.skills {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: #8dca89;
  overflow: hidden;
}

.skills h2 {
  color: #000000;
  align-content: flex-start;
  font-size: 2rem;
  padding: 0.5rem 0rem 0rem 1rem;
  margin: 0;
}

.skills-container {
  position: relative;
  animation: scrollSkills 15s linear infinite;
}

.skills-container:hover {
  animation-play-state: paused;
}

.skills-container .skills-item {
  min-width: 15%;
  font-size: 5rem;
  color: #000000;
  text-align: center;
}

@keyframes scrollSkills {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-3%);
  }
}
/* Responsive design for the skills section */
@media (max-width: 768px) {
  .skills h2 {
    font-size: 1.5rem;
  }
  .skills-container {
    animation: scrollSkillsMobile 15s linear infinite;
  }
  .skills-container .skills-item {
    font-size: 4rem;
    min-width: 30%;
  }
}
@keyframes scrollSkillsMobile {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
/* About */
.about-image {
  border-radius: 50%;
  overflow: hidden;
  width: 30%;
  height: 30%;
}

.content {
  padding: 1rem;
  width: 50%;
  font-size: 1.2rem;
}

.content-title {
  border-radius: 50px;
  background-color: #8dca89;
  padding: 0.7rem 1.7rem 0.7rem 1.7rem;
  color: #b4dcb0;
  display: inline-block;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #000000;
  margin: 0;
}

/* Responsive design for the about section */
@media (max-width: 768px) {
  .about {
    flex-direction: column-reverse;
  }
  .about-image {
    width: 60%;
    height: 40%;
  }
  .about .content {
    text-align: end;
    width: 80%;
  }
}
/* Work */
#Work {
  background-color: #8dca89;
  color: #000000;
}

.work .content .content-title {
  background-color: #b4dcb0;
  color: #000000;
}

.work-image {
  width: 30%;
  height: 30%;
  border-radius: 8%;
  overflow: hidden;
}

/* Responsive design for the work section */
@media (max-width: 768px) {
  .work {
    flex-direction: column;
  }
  .work-image {
    width: 60%;
    height: 40%;
  }
  .work .content {
    width: 80%;
  }
}
/* Projects */
.projects-image {
  border-radius: 50%;
  overflow: hidden;
  width: 30%;
  height: 30%;
}

/* Responsive design for the projects section */
@media (max-width: 768px) {
  .projects {
    flex-direction: column-reverse;
  }
  .projects-image {
    width: 60%;
    height: 40%;
  }
  .projects .content {
    text-align: end;
    width: 80%;
  }
}
/* Contact */
#Contact {
  background-color: #8dca89;
  color: #000000;
}

.contact {
  width: 50%;
}

.contact-form input {
  margin-bottom: 1rem;
}

.contact-form textarea {
  height: 10rem;
  margin-bottom: 1rem;
}

.contact-form button {
  background-color: #b4dcb0;
  width: 50%;
}

.contact-form button:hover {
  background: #daeed7;
}

.contact-image {
  width: 40%;
  height: 40%;
  border-radius: 8%;
  overflow: hidden;
}

/* Responsive design for the contact section */
@media (max-width: 768px) {
  .contact {
    width: 70%;
  }
  .contact-image {
    display: none;
  }
}
/* Projects Description */
#ProjectsDescription {
  padding: 8vh 0 0% 0;
}

.projects-description {
  padding: 0 5%;
  font-size: 1.2rem;
}

/* Projects List */
#ProjectsList {
  padding: 0% 2dvh 0% 2dvh;
}

.project-cards {
  flex-wrap: wrap;
  overflow: scroll;
  overflow-x: hidden;
  height: 63vh;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.project-card {
  width: 28%;
  background-color: #8dca89;
  color: #000000;
  border-radius: 15px;
  padding: 1%;
  margin: 1%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.projects-card h2 {
  font-size: 1.5rem;
  padding: 0.5rem;
}

.projects-card p {
  padding: 0.5rem;
}

p a {
  color: #ffffff;
}

/* Responsive design for the projects list section */
@media (max-width: 768px) {
  .project-card {
    width: 80%;
  }
}

/*# sourceMappingURL=stylesheet.css.map */
